@import url('https://fonts.cdnfonts.com/css/cooper-black');
@import url(https://db.onlinewebfonts.com/c/6afd263e46cfee1e4a481fccbcf1b307?family=Trend+Slab+W00+One);

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Cooper BT', var(--font-inter), sans-serif;
  font-weight: 400;
  vertical-align: baseline;
}

body {
  background: linear-gradient(45deg, #ff7b43, #ffd294);
  color: black;
}

.trend {
  font-family: 'Trend Slab W00 One', serif;
}
main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100vw;
  height: 40vh;
}
div.products {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
  flex-wrap: wrap;
  min-height: 300px;
  height: 60vh;
  max-width: 100%;
  padding: 20px;
}

.product-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 300px;
  background: #ffe7d4;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  text-align: center;
  transition: all 0.3s ease;
  border: 6px solid #ffd294;
  position: relative;
}
.product-card img {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
  margin-bottom: 15px;
  mix-blend-mode: multiply;
}
.product-name {
  font-size: 1.2rem;
  font-weight: bold;
}
.purchase {
  margin-top: 5px;
  padding: 5px 20px;
  background-color: #ff7b43;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  width: 100%;
  font-family: var(--font-inter), sans-serif;
  transition: all 0.3s ease;
}

.product-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  rotate: 1deg;
}
.product-card:hover .purchase {
  rotate: -2deg;
}
.product-card:not(.disabled) .purchase:hover {
  background-color: #e0663c;
}
.product-card.disabled .purchase {
  opacity: 0.6;
  pointer-events: none;
  background-color: grey;
}

.product-tag {
  position: absolute;
  top: -2px;
  right: -2px;
  rotate: 12deg;
  background-color: #ff7b43;
  color: white;
  padding: 5px 10px;
  font-size: 0.8rem;
  font-weight: bold;
  border-radius: 5px;
}


@font-face {
  font-family: 'Cooper BT';
  src: url('/cooper-bt-medium.otf') format('opentype');
}

.logo-split {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.logo-split img {
  display: block;
  max-width: 100%;
  filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.3));
}

.thinter {
  font-family: var(--font-inter), sans-serif;
  font-weight: 200;
  font-size: 2.4rem;
}